{% extends "base.html" %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<h1 class="display-4">Produits</h1>
<p class="lead">Liste des produits du Market Place - EP </p>
</div>


<div class="container">
  <div class="card-deck mb-3 text-center">

    {% for item in produits %}
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ item.name }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ item.cost }} <small class="text-muted"> € </small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>poid de {{item.weight}} kg</li>
        </ul>
        <a href = {{url_for('devis', productid = item.id)}}><button type="button" class="btn btn-lg btn-block btn-outline-primary">Faire un devis</button></a>
      </div>
    </div>
    {% endfor %}

  </div>


{% endblock %}
